* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.linkbanner {
  display: inline-block;
  background-color: gainsboro;
  border-bottom: 1px solid black;
  width: 100%;
}

#edit {
  float: right;
}

p {
  display: inline-block;
  margin: 1px;
  font-size: 14px;
}

#popularReddits {
  display: inline;
}

#home {
  color: red;
}

.blue-banner {
  background-color: cornflowerblue;
}

.tab-button {
  display: inline-block;
  height: auto;
  width: auto;
  background-color: beige;
  margin: 5px;
  border: 1px solid black;
}
